<div class="container">
  <div class="box-registrati">
    <h2>Registrati</h2>
    <form (submit)="registrati()">
      <div class="form-group">
        <label for="inputUserEmail"></label>
        <input type="email" name="email" [(ngModel)]="email" class="form-control" placeholder="Email" [ngStyle]="{'border': email.trim()==='' ? '2px solid red':'1px solid #ccc'}">
      </div>
      <div class="form-group">
        <label for="inputPassword"></label>
        <input type="password" name="password" [(ngModel)]="password" class="form-control" placeholder="Password" [ngStyle]="{'border': password.trim()==='' ? '2px solid red':'1px solid #ccc'}">
      </div>
      <div class="form-group">
        <label for="inputConfirmPassword"></label>
        <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" class="form-control" placeholder="Conferma Password" [ngStyle]="{'border': confirmPassword.trim()==='' ? '2px solid red':'1px solid #ccc'}">
      </div>
      <button type="submit">Registrati</button>
    </form>
    <div *ngIf="registratiMessaggio" [innerHtml]="registratiMessaggio" role="alert" class="mt-4" [ngClass]="registratiMessaggioClass" style="text-align: center;"></div>
  </div>
</div>
